/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        new_behavior_hold: new_behavior_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR_HOLD";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            bindings = <&lt>, <&kp>;

            flavor = "tap-preferred";
            quick-tap-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left {
            bindings = <&kp LEFT>;
            key-positions = <12 18>;
        };

        down {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <12 19>;
        };

        up {
            bindings = <&kp UP_ARROW>;
            key-positions = <12 20>;
        };

        right {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <12 21>;
        };

        wordbackspace {
            bindings = <&kp LA(DELETE)>;
            key-positions = <36 11>;
            layers = <0>;
        };

        deleteword {
            bindings = <&kp LA(DEL)>;
            key-positions = <11 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&lt 2 TAB         &kp Q  &kp W  &kp E         &kp R           &kp T                         &kp Y                       &kp U            &kp I      &kp O    &kp P     &kp BSPC
&mt LCTRL ESCAPE  &kp A  &kp S  &kp D         &kp F           &kp G                         &kp H                       &kp J            &kp K      &kp L    &kp SEMI  &kp SQT
&mo 3             &kp Z  &kp X  &kp C         &kp V           &kp B                         &kp N                       &kp M            &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                                &kp LEFT_GUI  &kp LEFT_SHIFT  &new_behavior_hold 1 SPACE    &new_behavior_hold 2 SPACE  &kp RIGHT_SHIFT  &mo 3
            >;
        };

        Lower {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4          &kp N5                  &kp UNDERSCORE  &kp PLUS   &kp PIPE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LA(DELETE)
&none      &kp NUMBER_6  &kp N7        &kp N8        &kp N9                &kp N0                  &kp MINUS       &kp EQUAL  &kp BACKSLASH  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none
&none      &none         &none         &kp LC(B)     &kp LG(LS(NUMBER_4))  &kp LG(LS(NUMBER_3))    &none           &none      &none          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none
                                       &none         &none                 &none                   &none           &none      &none
            >;
        };

        Raise {
            display-name = "Raise";
            bindings = <
&kp TILDE             &kp EXCLAMATION       &kp AT            &kp HASH    &kp DLLR           &kp PRCNT          &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LC(UP_ARROW)  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &kp LEFT   &kp DOWN       &kp UP        &kp RIGHT             &none                  &none
&kp LG(LA(I))         &none                 &none             &none       &none              &kp LC(B)          &none      &none          &none         &none                 &none                  &none
                                                              &none       &none              &none              &none      &none          &none
            >;
        };

        Symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "symbols";
            bindings = <
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &none                     &none  &none  &kp LEFT_BRACKET           &kp RIGHT_BRACKET  &kp LA(DELETE)
&none  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp LG(LS(LEFT_BRACKET))  &none  &none  &kp LG(LS(RIGHT_BRACKET))  &none              &none
&none  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &none                     &none  &none  &none                      &none              &none
                                   &none         &none         &none           &none                     &none  &none
            >;
        };
    };
};
